.junior-pro-1{
  background-image: url(../Images/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.junior-pro-2{
  background-image: url(../Images/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.junior-pro-3{
  background-image: url(../Images/4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

